$bg-color: #333;
$text-color: #f3f3f3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
